	
	/* GENERAL */

	* {margin: 0px; padding: 0px;}

	html, body {font-size: 16px;}
	#bannerdiv {width: 75%; left: 50%; top: calc(39%); margin-left: -37.5%;}
	#menu {position: fixed; right: 12.5%; max-width: 100%; margin-top: 1rem; font-size: 1.5rem; font-family: Arial; font-weight: 1;}

	#bannerdiv {position: fixed;}
	#bannerdiv img {max-width: 100%;}
	#centerdiv {width: 75%; margin: auto;}
	.flex-container {padding: 0; margin: 0; list-style: none; display: flex;}
	.space-between {justify-content: space-between;}
	.flex-item {font-family: Arial; font-weight: 1; width: auto; height: 1em; margin: 0.2em; margin-top: 0.6em; line-height: 1; color: black; font-size: 1.4em; text-align: center;}

	@media (max-device-width: 1080px) and (orientation: portrait) {
		html, body {font-size: 32px;}
	}

	@media (max-device-width: 1080px) and (orientation: landscape) {
		html, body {font-size: 16px;}
	}

	/* LINKS */

	a:link {text-decoration: none; color: black;}
	a:visited {text-decoration: none; color: black;}
	a:hover {text-decoration: underline;}

	/* HEADINGS */

	/* ... */