	
	/* GENERAL */

	* {margin: 0px; padding: 0px;}

	#bannerdiv {position: fixed;}
	#bannerdiv img {max-width: 100%;}
	#centerdiv {width: 75% 0 auto; border: 1px solid red;}
	#menu a:link {text-decoration: none; color: black;}
	#menu a:visited {text-decoration: none; color: black;}
	#menu a:hover {text-decoration: underline;}
	#menu a {display: inline;}
	#menu p {display: inline;}

	@media (min-width: 1px) {
		html, body {font-size: 10px;}
		#bannerdiv {width: 95%; left: 50%; top: calc(40%); margin-left: -47.5%;}
		#menu {position: fixed; right: 2.5%; margin-top: 1rem; font-size: 1.5rem; font-family: Arial; font-weight: 1;}
	}

	@media (min-width: 640px) {
		html, body {font-size: 14px;}
		#bannerdiv {width: 95%; left: 50%; top: calc(40%); margin-left: -47.5%;}
		#menu {position: fixed; right: 2.5%; margin-top: 1rem; font-size: 1.5rem; font-family: Arial; font-weight: 1;}
	}

	@media (min-width: 1080px) {
		html, body {font-size: 16px;}
		#bannerdiv {width: 75%; left: 50%; top: calc(40%); margin-left: -37.5%;}
		#menu {position: fixed; right: 12.5%; max-width: 100%; margin-top: 1rem; font-size: 1.5rem; font-family: Arial; font-weight: 1;}
	}


	/* LINKS */

	/* HEADINGS */

	/* ... */