	
	/* GENERAL */

	* {margin: 0px; padding: 0px;}

	html, body {font-size: 16px;}

	#menufield {position: fixed; width: 75%; left: 50%; margin-left: -37.5%; background-color: white; border: 0px solid red;}
	.flex-container {padding: 0; margin: 0; list-style: none; display: flex;}
	.space-between {justify-content: space-between;}
	.flex-item {font-family: Arial; font-weight: 1; width: auto; height: 1rem; margin: 0.2rem; margin-top: 0; padding-top: 0.6rem; padding-bottom: 0.6rem; font-size: 1.4rem; text-align: center;}
	#bannerdiv {position: fixed; width: 75%; left: 50%; top: 39%; margin-left: -37.5%;}
	#bannerdiv img {max-width: 100%;}
	#centerdiv {width: 75%; margin: auto; border: 0px solid red;}

	@media (max-device-width: 1080px) and (orientation: portrait) {
		html, body {font-size: 32px;}
		.textfield {text-align: left;}
	}

	@media (max-device-width: 1080px) and (orientation: landscape) {
		html, body {font-size: 16px;}
	}

	/* LINKS */

	a:link {text-decoration: none; color: black;}
	a:visited {text-decoration: none; color: black;}
	a:hover {text-decoration: underline;}
	.active {text-decoration: underline;}

	/* ABOUT SPECIFIC */

	.textfield {width: 80%; height: 100vh; border: 0px solid red;}
	.textfield {display: flex; justify-content: center; align-items: center;}
	.wrapper {justify-content: center; text-align: justify;}
	.textfield p {display: inline; line-height: 1.6; font-size: 2rem; font-family: Arial;}
	.logo_in_text {display: inline-block; max-height: 2rem; margin-bottom: -0.33rem; margin-right: 0.33rem; max-width: 100%;}

	/* ... */