	
	/* GENERAL */

	* {margin: 0px; padding: 0px;}

	html, body {font-size: 16px;}

	body {font-family: Arial;}

	#menufield {position: fixed; width: 75vw; left: 50%; margin-left: -37.5%; border: 0px solid red; z-index: 2;}
	.flex-container {padding: 0; margin: 0; list-style: none; display: flex;}
	.space-between {justify-content: space-between;}
	.flex-item {font-weight: 1; width: auto; height: auto; line-height: 1.4rem; padding: 0.4rem 0.4rem 0.4rem 0.4rem; font-size: 1.4rem; text-align: center; background-color: white;}
	#bannerdiv {position: fixed; width: 75%; left: 50%; top: 39%; margin-left: -37.5%;}
	#bannerdiv img {max-width: 100%;}
	.break {display: none; position: fixed; width: 100vw; background-color: white; background-image: url(https://isithappening.github.io/images/other/pattern.svg); height: 2rem; background-repeat: repeat; z-index: 1;}

	@media (max-device-width: 1080px) and (orientation: portrait) {
		html, body {font-size: 32px;}
		.textfield {text-align: left;}
	}

	@media (max-device-width: 1080px) and (orientation: landscape) {
		html, body {font-size: 16px;}
	}

	/* LINKS */

	a:link {text-decoration: none; color: black;}
	a:visited {text-decoration: none; color: black;}
	a:hover {text-decoration: underline;}
	.active {text-decoration: none;}

	/* ABOUT SPECIFIC */

	
	.textfield {width: 50vw; height: 100vh; display: flex; margin: auto; justify-content: center; align-items: center; border: 0px solid red;}
	.wrapper {text-align: justify; border: 0px solid red;}
	.logo_in_text1 {display: inline-block; max-height: 2rem; margin-bottom: -0.33rem; margin-right: 0.33rem; max-width: 100%;}
	.logo_in_text2 {display: inline-block; max-height: 1.6rem; margin-bottom: -0.264rem; margin-right: 0.264rem; max-width: 100%;}

	.imgfield {display: flex; margin: auto; justify-content: center; align-items: center; border: 0px solid red;}
	.img {width: 100vw; height: auto;}

	#map {width: 100vw; height: 67vh;}


	/* ... */

	h1 {font-family: Arial; font-size: 2rem; font-weight: 1; display: inline; line-height: 1.6;}
	h2 {font-family: Arial; font-size: 1.6rem; font-weight: 1; display: inline; line-height: 1.6;}