	
	/* GENERAL */

	* {
		margin: 0px;
		padding: 0px;
	}

	body {
		font-size: 10px;
		background-color: lightblue;
	}

	p {
		font-size: 4rem;
	}


	/* LINKS */

	#menu_buttons a:link {text-decoration: none; color: black;}
	#menu_buttons a:visited {text-decoration: none; color: black;}
	#menu_buttons a:hover {text-decoration: underline;}

	/* HEADINGS */

	/* ... */